// FORM STYLES ======

input[type=email], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit] {
    width: 100%;
    color: $light;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: 700;
    font-family: $mainFont;
    @include setBgColorAndHover($dark, $light);
}