/* -----------------------------------------------------------------------------
 * Variables
 * -------------------------------------------------------------------------- */
//Breakpoints
$breakpoint-tablet: 640px;
$breakpoint-desktop: 1024px;
$breakpoint-desktop-lg: 1400px; 

 // COLOURS
$dark: #222831; // Near Black
$light: #EEEEEE; // Near White

// Green and Gray Theme colors
$colorset1: #393E46; // Dark Grey
$colorset2:  #00ADB5; // Green

// WIDTHS
$fullwidth: 100%;

//Fonts
$headerFont: 'Anton', sans-serif;
$mainFont: 'Raleway', sans-serif;

