<footer>
	<!-- === ADDRESS DETAILS === -->
	<div class="col-4">
		<div class="footercontact">
			<p>Contact Details</p>
			<p>Address1, Address2, City, Postcode<br>
			<a href="mailto:email@example.co.uk">email address</a>
			</p>
		</div>
		
		<!-- === SOCIAL FOOTER ICONS == -->
		<div class="socialFooter">
			<a href="/"><i class="fa fa-facebook" aria-hidden="true"></i></a>
			<a href="/"><i class="fa fa-instagram" aria-hidden="true"></i></a>
			<a href="/"><i class="fa fa-twitter" aria-hidden="true"></i></a>
		</div>
	</div>


	<!-- === FOOTER LINKS == -->
	<div class="col-4 footercontact">
		<ul>
			<li>Link1</li>
			<li>Link2</li>
			<li>Link3</li>
			<li>Link4</li>
			<li>Link5</li>
		</ul>
	</div>
	<!-- ==== NEWSLETTER SIGNUP ==== -->
	<div class="col-4">
		<p class="newletter">Join our newsletter</p>
		<form>
			<div class="row">
			<input type="email" name="email" placeholder="Your Email Address">
			</div>
			<input type="submit" value="Submit">
		</form>
	</div>
	<a href="#top" class="scrolltoRW"><i class="fa fa-chevron-circle-up" aria-hidden="true"></i></a>
   	<p>Web site designed and developed by Aimee Tacchi &copy; 2017 All rights reserved</p>
</footer>
</div> <!-- end of container -->
	<!-- jQuery -->
    <script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>

   
    <script>
    	 //Scroll smooth on a tag links.
		 $('.scrolltoRW').click(function (e) {
			   e.preventDefault;
              var aTag = $(this).attr('href');
              $('html,body').animate({
                  scrollTop: $(aTag).offset().top
              }, 600);
              return false;
          });

		 // Burger Menu
		 	$(".burger-menu").click(function(){
				$(this).toggleClass('active');
			 	$("nav").fadeToggle();

		});
	</script>
    
	
</body>
</html>